<div class="front-copyright">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <p style="text-align: center;">
                        <span class="margin-right-10">2013 © Green Living ALL Rights Reserved.</span> 
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
               
            </div>
        </div>
    </div>