    <%- include partials/header %>
   
             

              <br>
            
          <section id="about-worldex">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading orign" style="text-align: center;">
                    <h2>TCM (Tradtitional Chinese Medicine) Info</h2>
                    

                     </div>
                      <div class="col-md-12">
                        <div class="panel">
                           
                            <div class="panel-body orign">
                            <div class="about-item">
                            <p class="orign-worldex"><a href="http://www.china-window.com/china_briefing/Chinese_Medicine/index.shtml" style="text-decoration: underline;color: #babf10">Tradtitional Chinese Medicine</a> refers to medicine practices which have been traced back to the Shang dynasty (14th-11th centuries BCE). These practices include various forms of herbal medicine, acupuncture, massage therapy, and dietary therapy. They are a common part of medical care throughout East Asia, are considered alternative medicine in the western world. Chinese medicine are rooted in books such as the Yellow Emperor's Inner Canon, in cosmological notions like Yin-Yang and the Five Phases. TCM's view of the body is little concerned with anatomical structures, but with the identification of functional entities (which regulate digestion, breathing, aging etc.). </p>
                            <br>
                            <h4 class="orign-worldex">Yin and Yang</h4>
                            <p class="orign-worldex"> <a href="http://www.china-window.com/china_briefing/Chinese_Medicine/the-theory-of-yin-and-yan.shtml" style="text-decoration: underline;color: #babf10">Yin and yang </a> are ancient Chinese concepts which can be traced back to the Shang dynasty (1600-1100 BC). They represent two abstract and complementary aspects every phenomenon in the universe can be divided into... Need more detail, <a href="https://en.wikipedia.org/wiki/Traditional_Chinese_medicine#Yin_and_yang" style="text-decoration: underline;color: #babf10">go to Wiki</a> </p>
                            <br>
                            <h4 class="orign-worldex">Five Phases theory</h4>
                            <p class="orign-worldex">Five Phases (五行, pinyin: wǔ xíng, sometimes also translated as "Five Elements") theory presumes that all phenomena of the universe and of nature can be broken down into five elemental qualities - represented by wood (木, pinyin: mù), fire (火pinyin: huǒ), earth (土, pinyin: tǔ), metal (金, pinyin: jīn), and water (水, pinyin: shuǐ).</p>
                            <p class="orign-worldex">Strict rules are identified to apply to the relationships between the Five Phases in terms of sequence, of acting on each other, of counteraction etc. All these aspects of Five Phases theory constitute the basis of the zàng-fǔ concept, and thus have great influence regarding the TCM model of the body. Five Phase theory is also applied in diagnosis and therapy.</p>
                            <br>
                            <h4 class="orign-worldex">TCM model of the body</h4>
                            <p class="orign-worldex">TCM's view of the human body is only marginally concerned with anatomical structures, but focuses primarily on the body's functions (such as digestion, breathing, temperature maintenance, etc.). These functions are aggregated and then associated with a primary functional entity - for instance, nourishment of the tissues and maintenance of their moisture are seen as connected functions, and the entity postulated to be responsible for these functions is xuě (blood) - but this is mainly a matter of stipulation, not anatomical insight. The primary functional entities used by traditional Chinese medicine are qì, xuě, the five zàng organs, the six fǔ organs, and the meridians which extend through the organ systems. These are all theoretically interconnected: each zàng organ is paired with a fǔ organ, which are nourished by the blood and concentrate qi for a particular function, with meridians being extensions of those functional systems throughout the body. </p>
                            <br>
                            <h4 class="orign-worldex">Energy flow(Qi Flow) and Meridians(the paths of the Qi flow)</h4>
                            <p class="orign-worldex">Qi also circulates in the meridians. Just as the qi held by each of the zang-fu organs, this is considered to be part of the "principal" qi (元氣, pinyin: yuán qì) of the body (also called 真氣 pinyin: zhēn qì, "true" qi, or 原氣 pinyin: yuán qì, "original" qi). The meridians (经络, pinyin: jīng-luò) are believed to be channels running from the zàng-fǔ in the interior (里, pinyin: lǐ) of the body to the limbs and joints ("the surface" [表, pinyin: biaǒ]), transporting qi and xuĕ (blood). The optimal state of health is when the Qi is flowing through the meridians without blockage. Therefore, the blockage of energy flow is the beginning of illness, and the blockage is expressed by the body as pain, bloating, or depression. Any kind of pain is considered a blockage of energy flow, and the site of pain suggests the place where the energy flow is stuck.</p>
                            <br>
                            <h4 class="orign-worldex">Concept of disease</h4>
                            <p class="orign-worldex">In general, disease is perceived as a disharmony (or imbalance) in the functions or interactions of yin, yang, qi, xuĕ, zàng-fǔ, meridians etc. and/or of the interaction between the human body and the environment. Need more detail, <a href="https://en.wikipedia.org/wiki/Traditional_Chinese_medicine#Concept_of_disease" style="text-decoration: underline;color: #babf10">go to Wiki</a></p>
                            <br>
                            <h4 class="orign-worldex">Treatments</h4>
                            <p class="orign-worldex">Treatments include herbal medicine, acupuncture, moxibustion, massage therapy, and dietary therapy. The majority of treatmentt in TCM is Chinese Herbology. Chinese herbs have been used for centuries. The first traditionally recognized herbalist is Shénnóng (神农, lit. "Divine Farmer"), a mythical god-like figure, who is said to have lived around 2800 BC[2] He allegedly tasted hundreds of herbs and imparted his knowledge of medicinal and poisonous plants to farmers. His Shénnóng Běn Cǎo Jīng (神农本草经, Shennong's Materia Medica) is considered as the oldest book on Chinese herbal medicine. Each herbal medicine prescription is a cocktail of many substances, tailored to the individual patient.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                     
                  </div>
             

               
            </div>
        </section>

       
      
               




    <!-- <div class="wrapper">


       <div id="wrapperss">
        <div class="overlay"></div>
    
       
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
          

            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="index"><h3 style="color: #fff;float: right;margin-top: 12px;">WORLD<b style="color: #fff;">EX</b></h3></a>
                </li>
                  <li><a href="#about"><span> <i class="fa fa-users" aria-hidden="true"></i> </span>    Services</a> </li>
                  <li><a href="#reviews"><span> <i class="fa fa-mobile" aria-hidden="true"></i> </span>     Shop</a></li>
                  <li><a href="#features"><span><i class="fa fa-user-md" aria-hidden="true"></i> </span>    Consult</a></li>
                  <li><a href="#getApp"><span><i class="fa fa-film" aria-hidden="true"></i></span>    Get App</a></li>
                 
 
            </ul>

                
           
        </nav>
       
                    <div id="page-content-wrapper" style="z-index: 100000000;">
                        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                            <span class="hamb-top"></span>
                            <span class="hamb-middle"></span>
                            <span class="hamb-bottom"></span>
                        </button>
                        

                    </div>
                




                  

    </div>-->
  
 
    <%- include partials/footer %>
