    <%- include partials/header %>
<div id="hpage">
 <section class="parallax-datas">
                 
               </section> 
                 
             

              
              <section id="about" style="background: #538f87;height: 100px;">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                
                      <div class="col-md-3">
                      
                           
                          
                            <div class="about-item">
                            <h3 class="orign-health">50,000<br>Appointments</h3>
                            
                            </div>
                           
                       
                    </div>
                    <div class="col-md-3">                    
                       
                             <div class="about-item">
                          
                         
                            <h3 class="orign-health">100,000+<br>Doctors</h3>
                          
                           
                            </div>
                        
                    </div>
                      <div class="col-md-3">
                       
                            <div class="about-item">
                           
                              <h3 class="orign-health">1,000+<br>Hospitals</h3>
                          
                            
                          
                        </div>
                    </div>

                     <div class="col-md-3">
                       
                            <div class="about-item">
                           
                              <h3 class="orign-health">8,000+<br>Diagnostic labs</h3>
                          
                            
                            </div>
                       
                    </div>
                  </div>
               
            </div>
        </section>
          <section id="features">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading sp-effect3">
                    <h1>For Certified Practitioners</h1>
                    <div class="divider"></div>
                    <p>Build your digital presence and grow your business with worldex.com
</p>
                   </div>

                     </div>
                      <div class="col-lg-7 col-md-7">
                        <div class="">
                           
                        <div class="panel-body orign">
                        <div class="about-item">
                       <img src="img/doctor.jpg" class="img-responsive sp-effect5" alt="">
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">                    
                        <div class="newssss">
                             <div class="about-item">
                            <div class="panel-body" orign>
                            <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">100+ doctors</h3>
                               
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">  10,000 patients</h3>
                           
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">2 countries</h3>
                              
                            </div>
                        </div>

                        
                        <div class="media feature">
                           
                            <div class="media-body">
                                <h3 class="datas-neww media-heading"> <button data-toggle="modal" data-target="#myModal12" class="datas-btn btn btn-primary btn-md" style="border-radius: 5px;border: 1px solid #babf10;">Sign Up as Provider</button>
</h3>
                              
                            </div>
                        </div>
                            </div>

                            

                            </div>
                        </div>
                    </div>

                     
                     
                  </div>
               
            </div>
        </section>
</div>      
       <%- include partials/footer %>
