    <%- include partials/header_login %>
    <style type="text/css">
    .orign-worldex{
        text-align: justify;
    }
  
</style>
  <div id="hpage">           

              <br>
            
          <section id="about-worldex">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading orign" style="text-align: center;">
                    <h2>Company Profile</h2>
                    

                     </div>
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <div class="panel">
                           
                            <div class="panel-body orign">
                            <div class="about-item">
                           
                            <p class="orign-worldex">Fong Organic Herb's goal is to provide preventive health care solutions to the public through our extensive research in herbalism. We are committed in providing the highest quality of Certified Organic Herbs to help balance and restore our body's harmony and mind.</p><br>
                            
                            <h4 style="text-align: left;">Our Emphasis</h4>
                            <p class="orign-worldex">
                            Fong Organic Herb founded in 2006, Oakland, California, includes certified and state licensed Acupuncturists, traditional Chinese Medicine herbalists, TCM professors and other professional specialists in different fields.
                            </p><br>

                            <h4 style="text-align :left">Herbal Formulas</h4>
                            
                             <p class="orign-worldex"> Fong Organic Herb is the pioneer in supplying Organic Chinese Herbal Products and Supplements certified by the USDA and EU. Our herbal products are in compliance with 4-GP that is highly recognized by worldwide regulatory agencies. Our products do not contain unwanted contaminants such as heavy metal, pesticides, and detoxification set by USA, Australia, European Union and other countries' regulatory agencies.</p>
                            
                          
                            <p class="orign-worldex">Our Certified Organic Herbal supplements are formulated in the USA and support distributors all over the world. Fong Tao Herb cooperates with two GLP research labs of Shanghai Food & Drug Lab and Hong Kong Science & Technology Park for development to ensure the highest quality of Certified Organic Herbs for our customers. All our products are controlled and manufactured under 4 GMP standards. We utilize the most advance technology and processing equipments to produce the high quality herbal extracts from 5:1, 8:1 to 10:1 concentrated capsule without sacrificing the natural functions of Chinese herbs.</p><br>
                            
                         </div>
                         </div>
                        </div>
                        </div>
                        <div class="col-md-3">
                         <div class="panel">
                           
                            <div class="panel-body orign">
                            <div class="about-item">
                             <img src="/assets_home/img/CommercialBldg.jpg" align="right" class="img-responsive sp-effect5"  style="width:200px;height:150px;padding-left: 20px;padding-bottom :3px;">
                          
                            </div>
                            </div>
                        </div>
                        </div>
                      
                    </div>
                    
                     
                  </div>
             

               
            </div>
        </section>

         </div>
 
    <%- include partials/footer %>
