    <%- include partials/header_login %>
   <style type="text/css">
    .orign-worldex{
        text-align: justify;
    }
    .panel{
    background-color: none; 
    border: 1px solid #fff;
    }
</style>
             

 <div id="hpage">
              <br>
            
          <section id="about-worldex">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading orign" style="text-align: center;">
                    <h2>Herbal Therapy</h2>
                    

                     </div>
                    <div class="col-md-12">
                       <div class="col-md-9">

                        <div class="panel">
                           
                             <div class="panel-body orign" style="padding-top:0px">
                        <ul class="pager" style="padding :0px;">
                        <li class="previous"><a href="/res-philosophys"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Philosophy</a></li>
                        <li class="next"><a href="/res-hplcs">HPLC&nbsp;<i class="fa fa-forward" aria-hidden="true"></i></a></li>
                        </ul>
                            <div class="about-item">
                           
                            <p class="orign-worldex">Herbalism is a traditional medicinal practice based on the use of plants and plant extracts. It is also known as botanical medicine, medical herbalism, and herbal medicine. The scope of herbal medicine is sometimes extended to include fungal and bee products, as well as minerals, shells and certain animal parts. </p>
                            <br>
                            <!-- <h4 class="orign-worldex">Yin and Yang</h4> -->

                            <p class="orign-worldex">The first Chinese herbal book, the Shennong Bencao Jing 神農本草經, complied during the Han Dynasty but dating back to a much earlier date, possibly 2700 B.C., lists 365 medicinal plants and their uses including ma- Huang, the shrub that introduced the drug ephedrine to modern medicine. </p>
                           
                            <!-- <h4 class="orign-worldex">Five Phases theory</h4> -->
                            
                            <br>
    
 
                            <p class="orign-worldex">The Chinese pharmacopeia lists over 6,000 different medicinal substances in terms of their properties and the disharmonies that they were helpful with. There are about 600 different herbs in common use today.</p> 
                              <br>

                              
                            <p class="orign-worldex">Herbs are classified in two major dimensions. The first dimension refers to the temperature characteristics of the herb, namely hot, warm, cold, neutral, and aromatic. The second dimension refers to the taste property of the herb, namely sour, bitter, sweet, spicy, and salty.</p>  <br>
                           
                         
                          
                            <p class="orign-worldex">The various combinations of temperature and taste give the herb its properties that can influence the yin and yang energy patterns of the body. For example, sour, bitter and salty tastes are related to yin, whereas acrid, sweet are attributed to yang. There are herbs that will warm, herbs that will cool, herbs that will tonify, and herbs that will move stagnation and so on. It is also important to understand that herbs do not possess one quality. They are always a combination of properties and temperatures and may reach one to as many as twelve organ systems. </p>
                            <br>  
 
                          <h4 class="orign-worldex">Herbal Formulas</h4>  
                          <p class="orign-worldex">The unique characteristic of Chinese herbal medicine is to apply the combination of herbs to restore the harmony of body and mind. Herbal formulas can be delivered in all manners of preparation.  </p>
                          
        
                          <p class="orign-worldex">Pre-made formulas are available as pills, tablets, capsules, powders, alcohol-extracts, water extracts and etc.Most of these formulas are very convenient as they do not necessitate patient preparation and are easily taken.</p>
                          <br>
                            
                     
               
                          </div>
                            </div>
                        </div>
                         
                       </div>
                       <div class="col-md-3">

                         <div class="panel">
                           
                            <div class="panel-body orign">
                            <div class="about-item">
                            <img src="assets_home/img/soup.bmp" class="img-responsive sp-effect5" align="right" style="width:200px;height:150px;padding-left: 20px;padding-top :3px;padding-bottom :3px;">
                            
                            <br>
                            <br>

                            <img src="assets_home/img/chinese_herb_store.jpg" class="img-responsive sp-effect5" align="right" style="width:200px;height:150px;padding-left: 20px;padding-top :3px;padding-bottom :3px;">
                            <br>
                            <br>
    
 
                            <img src="assets_home/img/chinese_herb_in_hand.jpg" class="img-responsive sp-effect5" align="right" style="width:200px;height:150px;padding-left: 20px;padding-top :3px;padding-bottom :3px;">
                         
                            <br>  
                            <br>

                          
                            <img src="assets_home/img/chinese_herb_in_capsule.jpg" class="img-responsive sp-effect5" align="right" style="width:200px;height:150px;padding-left: 10px;padding-bottom :3px;">

                          
                            <br>
                            <br>
                     
               
                          </div>
                            </div>
                        </div>
                         
                         
                       </div>
                        
                    </div>
                    
                     
                  </div>
             

               
            </div>
        </section>

       
      
               




    <!-- <div class="wrapper">


       <div id="wrapperss">
        <div class="overlay"></div>
    
       
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
          

            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="index"><h3 style="color: #fff;float: right;margin-top: 12px;">WORLD<b style="color: #fff;">EX</b></h3></a>
                </li>
                  <li><a href="#about"><span> <i class="fa fa-users" aria-hidden="true"></i> </span>    Services</a> </li>
                  <li><a href="#reviews"><span> <i class="fa fa-mobile" aria-hidden="true"></i> </span>     Shop</a></li>
                  <li><a href="#features"><span><i class="fa fa-user-md" aria-hidden="true"></i> </span>    Consult</a></li>
                  <li><a href="#getApp"><span><i class="fa fa-film" aria-hidden="true"></i></span>    Get App</a></li>
                 
 
            </ul>

                
           
        </nav>
       
                    <div id="page-content-wrapper" style="z-index: 100000000;">
                        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                            <span class="hamb-top"></span>
                            <span class="hamb-middle"></span>
                            <span class="hamb-bottom"></span>
                        </button>
                        

                    </div>
                




                  

    </div>-->
  </div>
 
    <%- include partials/footer %>
