    <%- include partials/header %>
   <style type="text/css">
    .orign-worldex{
        text-align: justify;
    }
  
</style>
             
<div id="hpage">
              <br>
            
          <section id="about-worldex">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading orign" style="text-align: center;">
                    <h2>Organic Info</h2>
                    

                     </div>
                      <div class="col-md-12">
                        <div class="col-md-9">
                           <div class="panel">
                           
                            <div class="panel-body orign" style="padding-top:0px">
                    <ul class="pager" style="padding :0px;">
                    <li class="previous"><a href="/res-hplc"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;HPLC</a></li>
                    <li class="next"><a href="/res-philosophy">Philosophy&nbsp;<i class="fa fa-forward" aria-hidden="true"></i></a></li>
                    </ul>
                            <div class="about-item">
                         
                            <p class="orign-worldex">Organic foods are foods that are produced using methods that do not involve modern synthetic inputs such as pesticides and chemical fertilizers, do not contain genetically modified organisms, and are not processed using irradiation, industrial solvents, or chemical food additives. </p>
                            <br>
                            
                            <p class="orign-worldex"> rganic food production is a heavily regulated industry, distinct from private gardening. Currently, the European Union, the United States, Canada, Japan and many other countries require producers to obtain special certification in order to market food as "organic" within their borders. In the context of these regulations, "organic food" is food made in a way that complies with organic standards set by national governments and international organizations. In the United States, organic production is a system that is managed in accordance with the Organic Foods Production Act (OFPA) of 1990 and regulations in Title 7, Part 205 of the Code of Federal Regulations to respond to site-specific conditions by integrating cultural, biological, and mechanical practices that foster cycling of resources, promote ecological balance, and conserve biodiversity</p>
                            <br>
                            
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-3">
                           <div class="panel">
                           
                            <div class="panel-body orign">
                            <div class="about-item">
                           <img src="/assets_home/img/organic_Cai_hu.jpg" align="right" class="img-responsive sp-effect5" align="right" style="width:200px;height:150px;padding-left: 20px;padding-bottom :3px;">
                         
                            <br>
                            
                            </div>
                            </div>
                        </div>
                        </div>
                       
                    </div>
                    
                     
                  </div>
             

               
            </div>
        </section>

       
      
               




    <!-- <div class="wrapper">


       <div id="wrapperss">
        <div class="overlay"></div>
    
       
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
          

            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="index"><h3 style="color: #fff;float: right;margin-top: 12px;">WORLD<b style="color: #fff;">EX</b></h3></a>
                </li>
                  <li><a href="#about"><span> <i class="fa fa-users" aria-hidden="true"></i> </span>    Services</a> </li>
                  <li><a href="#reviews"><span> <i class="fa fa-mobile" aria-hidden="true"></i> </span>     Shop</a></li>
                  <li><a href="#features"><span><i class="fa fa-user-md" aria-hidden="true"></i> </span>    Consult</a></li>
                  <li><a href="#getApp"><span><i class="fa fa-film" aria-hidden="true"></i></span>    Get App</a></li>
                 
 
            </ul>

                
           
        </nav>
       
                    <div id="page-content-wrapper" style="z-index: 100000000;">
                        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                            <span class="hamb-top"></span>
                            <span class="hamb-middle"></span>
                            <span class="hamb-bottom"></span>
                        </button>
                        

                    </div>
                




                  

    </div>-->
  
 </div>
    <%- include partials/footer %>
