 <%- include partials/header_login %>
<style type="text/css">
    .orign-worldex{
        text-align: justify;
    }
</style>

              <br>
    <div id="hpage">        
          <section id="about-worldex">
               <div class="container">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading orign" style="text-align: center;">
                    <h2>Philosophy and Principles of Traditional Chinese Herbs</h2>
                    

                     </div>
                      <div class="col-md-12">
                        <div class="col-md-9">
                        <div class="panel">
                           
                             <div class="panel-body orign" style="padding-top:0px">
                        <ul class="pager" style="padding :0px;">
                        <li class="previous"><a href="/res-organics"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Organic</a></li>
                        <li class="next"><a href="/res-herbals">Herbal Therapy&nbsp;<i class="fa fa-forward" aria-hidden="true"></i></a></li>
                        </ul>
                            <div class="about-item">
                           
                            <p class="orign-worldex">Traditional Chinese medicine derives from the Taoist thought of Yin and Yang and it is based on observing the natural world and manner in which it circulates. It is no surprise to find that TCM - the metaphoric views of human body based on observation of nature are fully articulated in the theory of Yin and Yang. </p>
                            
                            <p class="orign-worldex">The ancient Chinese medical text Hung-Di-Nei-Jing (Yellow Emperor's Inner Cannon) lays a primary foundation for the theories of Chinese medicine.
                            </p>
                            <br>

                            <h4 class="orign-worldex">Hung-Di-Nei-Jing -</h4>
                           <h4 class="orign-worldex">On Hung-Di-Nei-Jing chapter 1: THE UNIVERSE TRUTH</h4>
                            <br>
                                                       
                              

                            <p class="orign-worldex">Yellow Emperor asked, I've heard of people in ancient times, spoken of as the immortals, who knew the secrets of the universe- Yin & Yang and held the world in the palm of their hands. They extracted essence from nature and practiced Qi Gong and various stretching and breathing exercises, and visualizations, to integrate body, mind and spirit. They remained undisturbed and thus attained extraordinary levels of accomplishment. Can you tell about them?</p>
                            <br>

                            <h4 class="orign-worldex">黃帝內經 –</h4>
                            <h4 class="orign-worldex">上古天真論篇第一</h4>
                            <h4 class="orign-worldex">黃帝曰：余聞上古有真人者，提挈天地，把握陰陽，呼吸精氣，獨立守神，肌肉若一，故能壽敝天地，無有終時，此其道生。</h4>
                            <br>

                            <p class="orign-worldex">The literal meaning of Yin and Yang in Chinese are dark and bright sides of the object. However, Chinese philosophy uses yin and yang to represent a wider range of opposite properties in the universe: moon and sun, cold and hot, still and motion, feminine and masculine, down and up and etc. Yin and Yang is guided by the law of unity of the opposites, they may be in conflict but mutually dependent at the same time. The nature of yin and yang is relative, with neither being able to exist in isolation. Without "cold" there be no "hot"; without "moving" there would be no "still"; without "dark" there would be no "bright". Basically, Tradition Chinese medicine classifies herbs with his nature of yin and yang to balance the deficiency of human body in term of yin- yang theory.</p>
                            
                            <!-- <p class="orign-worldex">Strict rules are identified to apply to the relationships between the Five Phases in terms of sequence, of acting on each other, of counteraction etc. All these aspects of Five Phases theory constitute the basis of the zàng-fǔ concept, and thus have great influence regarding the TCM model of the body. Five Phase theory is also applied in diagnosis and therapy.</p>
                            <br>
                            <h4 class="orign-worldex">TCM model of the body</h4>
                            <p class="orign-worldex">TCM's view of the human body is only marginally concerned with anatomical structures, but focuses primarily on the body's functions (such as digestion, breathing, temperature maintenance, etc.). These functions are aggregated and then associated with a primary functional entity - for instance, nourishment of the tissues and maintenance of their moisture are seen as connected functions, and the entity postulated to be responsible for these functions is xuě (blood) - but this is mainly a matter of stipulation, not anatomical insight. The primary functional entities used by traditional Chinese medicine are qì, xuě, the five zàng organs, the six fǔ organs, and the meridians which extend through the organ systems. These are all theoretically interconnected: each zàng organ is paired with a fǔ organ, which are nourished by the blood and concentrate qi for a particular function, with meridians being extensions of those functional systems throughout the body. </p>
                            <br>
                            <h4 class="orign-worldex">Energy flow(Qi Flow) and Meridians(the paths of the Qi flow)</h4>
                            <p class="orign-worldex">Qi also circulates in the meridians. Just as the qi held by each of the zang-fu organs, this is considered to be part of the "principal" qi (元氣, pinyin: yuán qì) of the body (also called 真氣 pinyin: zhēn qì, "true" qi, or 原氣 pinyin: yuán qì, "original" qi). The meridians (经络, pinyin: jīng-luò) are believed to be channels running from the zàng-fǔ in the interior (里, pinyin: lǐ) of the body to the limbs and joints ("the surface" [表, pinyin: biaǒ]), transporting qi and xuĕ (blood). The optimal state of health is when the Qi is flowing through the meridians without blockage. Therefore, the blockage of energy flow is the beginning of illness, and the blockage is expressed by the body as pain, bloating, or depression. Any kind of pain is considered a blockage of energy flow, and the site of pain suggests the place where the energy flow is stuck.</p>
                            <br>
                            <h4 class="orign-worldex">Concept of disease</h4>
                            <p class="orign-worldex">In general, disease is perceived as a disharmony (or imbalance) in the functions or interactions of yin, yang, qi, xuĕ, zàng-fǔ, meridians etc. and/or of the interaction between the human body and the environment. Need more detail, <a href="https://en.wikipedia.org/wiki/Traditional_Chinese_medicine#Concept_of_disease" style="text-decoration: underline;color: #babf10">go to Wiki</a></p>
                            <br>
                            <h4 class="orign-worldex">Treatments</h4>
                            <p class="orign-worldex">Treatments include herbal medicine, acupuncture, moxibustion, massage therapy, and dietary therapy. The majority of treatmentt in TCM is Chinese Herbology. Chinese herbs have been used for centuries. The first traditionally recognized herbalist is Shénnóng (神农, lit. "Divine Farmer"), a mythical god-like figure, who is said to have lived around 2800 BC[2] He allegedly tasted hundreds of herbs and imparted his knowledge of medicinal and poisonous plants to farmers. His Shénnóng Běn Cǎo Jīng (神农本草经, Shennong's Materia Medica) is considered as the oldest book on Chinese herbal medicine. Each herbal medicine prescription is a cocktail of many substances, tailored to the individual patient.</p> -->
                            </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-3">

                         <div class="panel">
                           
                            <div class="panel-body orign">
                            <div class="about-item">
                            
                     
               
                          </div>
                            </div>
                        </div>
                    </div>
                    
                     
                  </div>
             

               
            </div>
        </section>
</div>
    <%- include partials/footer %>