        


                             <% if(user.user_role == 'admin') { %>    
                              

                              <% for (var i = 0; i < data.length; i++) if(data[i].userid == user._id) { %>
                              
                                  <form method="post" action="/updateorder" style="height: 200px;" ng-repeat="orders in vm.allOrders" ng-if="orders._id === vm.current_id">
                                          <table>
                                            <tbody>
                                            
                                              <td>&nbsp;Update Order Status : &nbsp;</td>
                                                <input type="text" name="orderid" id="orderid" ng-model="vm.current_id" style="display: none;">

                                              <td><select class="form-control" id="o_status" name="o_status">
                                           
                                               <option value="">Select Order Status</option>
                                                <option value="Pending Payment" ng-selected="orders.o_status === 'Pending Payment'">Pending Payment</option>
                                                <option value="Processing" ng-selected="orders.o_status === 'Processing'">Processing</option>
                                                <option value="On Hold" ng-selected="orders.o_status === 'On Hold'">On Hold</option>
                                                <option value="Completed"  ng-selected="orders.o_status === 'Completed'">Completed</option>
                                                <option value="Cancelled" ng-selected="orders.o_status === 'Cancelled'">Cancelled</option>
                                                <option value="Refunded" ng-selected="orders.o_status === 'Refunded'">Refunded</option>
                                                <option value="Failed" ng-selected="orders.o_status === 'Failed'">Failed</option>
                                              </select> &nbsp;&nbsp;

                                              <input type="submit" class="btn theme-btn" value="Update" ng-click="vm.orderupdate();">

                                              </td>
                                            
                                            </tbody>
                                          </table>
                                            </form>
                                       <% } %>

                                        <% } %>
